<footer class="footer bg-base-100 flex justify-end">
    <p class="flex justify-end items-center">
        <span>&copy 2022</span>
        <span>Chris Morin</span>
    </p>
</footer>


</body>
</html>