<footer class="footer  flex justify-end items-center pr-2.5">
    <p class="flex justify-end items-center">
        <span>&copy 2022</span>
        <span>Chris Morin</span>
    </p>
</footer>


<script src="../js/main.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/35.2.1/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
     
</script>


</body>
</html>