<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Main</title>
</head>
<body class="bg-slate-900">
  
<style>
  ul.breadcrumb li+li::before {
      content: "\276F";
      padding-left: 8px;
      padding-right: 4px;
      color: inherit;
  }

  ul.breadcrumb li span {
      opacity: 60%;
  }

  #sidebar {
      -webkit-transition: all 300ms cubic-bezier(0, 0.77, 0.58, 1);
      transition: all 300ms cubic-bezier(0, 0.77, 0.58, 1);
  }

  #sidebar.show {
      transform: translateX(0);
  }

</style>

<!-- Navbar start -->
<nav id="navbar" class="fixed top-0 z-40 flex w-full flex-row justify-end bg-slate-800  px-4 sm:justify-between">
  <ul class="breadcrumb hidden flex-row items-center py-4 text-lg text-white sm:flex ">
      <li class="inline">
          <a href="#">Direct Mind</a>
      </li>
  </ul>
  <button id="btnSidebarToggler" type="button" class="py-4 text-2xl text-white hover:text-gray-200 2xl:hidden">
      <svg id="navClosed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" class="h-8 w-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      <svg id="navOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" class="hidden h-8 w-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
  </button>
</nav>
<!-- Navbar end -->

<!-- Sidebar start-->
<div id="containerSidebar" class="z-40">
  <div class="navbar-menu relative z-40">
      <nav id="sidebar"
          class="fixed left-0 bottom-0 top-0 flex w-3/4 -translate-x-full flex-col overflow-y-auto  pt-6 pb-8 sm:max-w-xs lg:w-80 2xl:translate-x-0 2xl:translate-y-0 bg-slate-800">
          <!-- one category / navigation group -->
          <div class="px-4 pb-6">
              <h3 class="mb-2 text-xs font-medium uppercase text-white">
                  Main
              </h3>
              <ul class="mb-8 text-sm font-medium">
                  <li>
                      <a class="active flex items-center rounded py-3 pl-3 pr-4 text-cyan-400 hover:bg-gray-600"
                          href="/projects">
                          <span class="select-none">Projects</span>
                      </a>
                  </li>
                  <li>
                      <a class="flex items-center rounded py-3 pl-3 pr-4 text-cyan-400 hover:bg-gray-600"
                          href="/journal">
                          <span class="select-none">Journals</span>
                      </a>
                  </li>
              </ul>
          </div>
          <!-- navigation group end-->

          <!-- example copies start -->
          <div class="px-4 pb-6">
              <h3 class="mb-2 text-xs font-medium uppercase text-white">
                  More
              </h3>
              <ul class="mb-8 text-sm font-medium">
                  <li>
                      <a class="flex items-center rounded py-3 pl-3 pr-4 text-cyan-400 hover:bg-gray-600"
                          href="#tc">
                          <span class="select-none">History</span>
                      </a>
                  </li>
                  <li>
                      <a class="flex items-center rounded py-3 pl-3 pr-4 text-cyan-400 hover:bg-gray-600"
                          href="#privacy">
                          <span class="select-none">Resources</span>
                      </a>
                  </li>
              </ul>
          </div>

          <div class="px-4 pb-6">
              <ul class="mb-8 text-sm font-medium">
                  <li>
                      <a class="flex items-center rounded py-3 pl-3 pr-4 text-slate-400 hover:bg-gray-600"
                          href="/logout">
                          <span class="select-none">Logout</span>
                      </a>
                  </li>
              </ul>
          </div>
          <!-- example copies end -->
      </nav>
  </div>
  <div class="mx-auto lg:ml-80"></div>
</div>
<!-- Sidebar end -->

<main>
  <!-- your content goes here -->
</main>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
      const navbar = document.getElementById("navbar");
      const sidebar = document.getElementById("sidebar");
      const btnSidebarToggler = document.getElementById("btnSidebarToggler");
      const navClosed = document.getElementById("navClosed");
      const navOpen = document.getElementById("navOpen");

      btnSidebarToggler.addEventListener("click", (e) => {
          e.preventDefault();
          sidebar.classList.toggle("show");
          navClosed.classList.toggle("hidden");
          navOpen.classList.toggle("hidden");
      });

    //   sidebar.style.top = parseInt(navbar.clientHeight) - 1 + "px";
  });
</script>