
    <div class="dashboard-wrapper">
        <%- include('partials/navbar.ejs') %>
    <div class="container">

        <div class="card card-side bg-base-100 shadow-xl">
            <figure><img src="https://placeimg.com/200/280/arch" alt="Movie"/></figure>
            <div class="card-body">
              <h2 class="card-title">Projects</h2>
              <div class="card-actions justify-end">
                <a href="/goals"><button class="btn btn-primary">Begin</button></a>
              </div>
            </div>
          </div>
          <div class="card card-side bg-base-100 shadow-xl">
            <figure><img src="https://placeimg.com/200/280/arch" alt="Movie"/></figure>
            <div class="card-body">
              <h2 class="card-title">Journals</h2>
              <div class="card-actions justify-end">
                <a href="/journal"><button class="btn btn-primary">Journal</button></a>
              </div>
            </div>
          </div>
          <div class="card card-side bg-base-100 shadow-xl">
            <figure><img src="https://placeimg.com/200/280/arch" alt="Movie"/></figure>
            <div class="card-body">
              <h2 class="card-title">Projects</h2>
              <div class="card-actions justify-end">
                <a href="/goals"><button class="btn btn-primary">Begin</button></a>
              </div>
            </div>
          </div>
          

            <!-- <div class="row">
                <div class="col s12 m6">
                    <a href="/goals">
                <div class="card blue-grey darken-1 hoverable">
                    <div class="card-content white-text">
                    <p class="card-purpose">Goals</p>
                    </div>
                    <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                    </div>
                </div>
                    </a>
                </div>
                <div class="col s12 m6">
                    <a href="/tasks">
                <div class="card blue-grey darken-1 hoverable">
                    <div class="card-content white-text">
                    <p class="card-purpose">Tasks</p>
                    </div>
                    <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                    </div>
                </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <a href="/journal">
                <div class="card blue-grey darken-1 hoverable">
                    <div class="card-content white-text">
                    <p class="card-purpose">Journal</p>
                    </div>
                    <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                    </div>
                </div>
                    </a>
                </div>
                <div class="col s12 m6">
                    <a href="/history">
                <div class="card blue-grey darken-1 hoverable">
                    <div class="card-content white-text">
                    <p class="card-purpose">History</p>
                    </div>
                    <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                    </div>
                </div>
                    </a>
                </div>
            </div> -->
    </div>
        <%- include('partials/footer.ejs') %>
    </div>
    
