<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <!-- <h1>Working Title</h1> -->
            <section class="index-buttons">
                <a href="/login" class="login-a" alt="Login"><span class="waves-effect waves-light btn-large login-span">Login</span></a>
                <a href="/signup" class="login-a" alt="Sign Up"><span class="waves-effect waves-light btn-large login-span">Signup</span></a>
                <!-- line 5266 mat for buttons -->
            </section>
        </div>
    </div>
</body>
</html>