<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/normalize.css">
    
    


    <title>Sign Up</title>
</head>
<body>
    <div class="hero-content min-h-screen bg-accent-content flex flex-col">
        <h1>Sign Up</h1>
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert shadow-lg"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <form action="/signup" method="POST">
            <input type="text" name="userName" placeholder="User Name" class="input input-bordered w-full max-w-xs bg-primary">
            <input type="email" name="email" placeholder="Email" class="input input-bordered w-full max-w-xs bg-primary">
            <input type="password" name="password" placeholder="Password" class="input input-bordered w-full max-w-xs bg-primary">
            <input type="password" name="confirmPassword" placeholder="Confirm Password" class="input input-bordered w-full max-w-xs bg-primary">
            <input type="submit" value ="Submit" class="input input-bordered w-full max-w-xs bg-secondary">
        </form>
      </div>
</body>
</html>