.container{
    display: flex;
    height: 100vh;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.login-signup-box{
   text-align: center;
   padding: 4rem;
}
h1{
    margin-bottom: 5rem;
    color: rgba(0,0,0,0.5);
}
form{
    display: flex;
    flex-flow: column;
    gap: 2rem;
}
.alert{
    color: red;
    padding-bottom: 0.5rem;

}
.index-buttons{
    display: flex;
    justify-content: center;
    padding:3.5rem;
    gap: 1rem;
}
.login-span{
    width: 110px;
}



