h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.add-goal{
    cursor: pointer;
}
#add_goal{
    width: 350px;
    margin: auto;
}

.project-wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    /* gap: 10px; */
    min-height: 90vh;
}

.project-spacing{
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.project-container{
    display: flex;
    flex-flow: column;
    height: 120px;
    width: 350px;
}
.project-tab{
    height: 70px;
    width: 100%;
    background-color: lightblue;
}
.project-info{
    display: flex;
    flex-flow: column;
    padding: 0 10px;
}
.project-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.project-stats{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.project-count{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}
.project-boxes{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.project-task-list{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.project-task-list li{
    padding: 0 10px;
}
.project-description{
    text-align: center;
    padding: 0 10px 10px 10px;
    font-size: 16px;
}
.project-task{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.goal-journal{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}










/* .project-container{
    display: flex;
    flex-flow: column;
    width: 350px;
    height: 225px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.top-graphic{
    height: 75px;
    background-color: lightblue;
}
.title-desc{
    padding: 0 20px;
    height: 125px;
}
.pro-title{
    font-weight: 700;
}
.pro-desc{
}
.pro-nav{
    text-align: center;
} */
