@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}
/* ****************************************************************** */
/* Custom Styles */
/* ****************************************************************** */

/* ***************************************** */
/* Complete/Delete Project/Task buttons */
/* ****************************************** */


/* ********************************** */
/* Setting defaults on all forms */
/* ********************************** */
form{
    display: flex;
    flex-flow: column;
    gap: 2rem;
}
/* ************************************** */
/* Resetting collapse container */
/* ************************************** */
.collapse-title, 
:where(.collapse > input[type="checkbox"]){
  width: 100%;
  padding: 0 !important; 
  padding-right: 0 !important;
  min-height: 0 !important;
  transition: background-color 0.2s ease-in-out;
}

.remove-padding{
  padding-bottom: 0 !important; 
}
.remove-padding-task{
  padding-bottom: 0 !important;
 
}
/* ****************************** */
/* Setting container heights */
/* ****************************** */
.navbar{
  height: 10vh;
  z-index: 1;
}
.footer{
  min-height: 5vh;
}
.page-load{
  min-height: 95vh;
  padding-top: 10vh;
}
/* ************************ */
/* Positioning Side Nav Drawer */
/* ************************ */
.drawer-position{
  height: 90vh;
  width: unset;
  top: 10vh;
}
/* ***************************************************** */
 /* Temp default backgrounds for all buttons/layouts */
/* ***************************************************** */
.bg-all{
    background-color: #07080C;
}
.bg-all-nav{
  background: linear-gradient(to top, #07080C 10%, #273550);
}
.bg-project-card{
  background: linear-gradient(to left top, #07080C 10%, #1a2336 60%);

}
/* .bg-project-card{
  background: linear-gradient(to left bottom, #07080C 20%, #273550);
} */
.bg-project-card-corner{
  background: linear-gradient(to left top, #07080C 60%, #273550);
}
.border-card{
  border-top: 2px solid #273550;
  border-left: 2px solid #273550;
  border-right: 2px solid #273550;
}
.bg-task{
  background-color: #4a577367;
}
.bg-task-desc{
  /* background-color: #4a5773e4; */
  background-color: #4a5773bb;
}

/* ******************************************** */
/* Temp Box Shadows for Project/Task Boxes */
/* ********************************************* */
.shadows{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 2px rgba(21 94 117);
}

.btn{
  height: 2.5rem;
  min-height: 2rem;
  border-radius: 6px;
}


.project-btn{
  background-color: white
  
}
.project-btn:hover{
  background-color: rgba(68, 64, 60,1);
}

.allow-links{
  pointer-events: none;
}

.ck-content{
  height: 300px;
}



#complete{
  background: green  !important;
  color: red;

}
/* .ck.ck-editor__main > .ck-editor__editable{
  background: black !important;
} */


#editor-field{
  min-width: 300px;
  max-width: 350px;
}





@media (min-width: 1024px) {
  .allow-links{
    pointer-events: unset;
  }
  #editor-field{
    max-width: 600px;
  }
}